.menu-container {
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.cocktail-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 75%;
    max-width: 600px;
}

.cocktail-card h3 {
    margin: 0 0 10px;
    font-size: 3rem;
}

.cocktail-card p {
    margin: 5px 0;
    font-size: 2rem;
}

.option-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #0056b3;
}